body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x:hidden; 
}

body, ul {
    margin: 0;
    padding: 0;
} 

.navbar {
    background-color: #6ab423;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
}

.navbar-title p {
    margin: 0; 
    font-size: 20px; 
    color: white; 
    margin-right: 1120px;
    font-family: 'Lemon', sans-serif;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 40px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    text-decoration: underline;
}


.banner {
    background-image: url('https://img.freepik.com/free-vector/beautiful-decorative-soft-colorful-watercolor-texture-background_1055-14290.jpg?w=900&t=st=1704742154~exp=1704742754~hmac=ec57cc2b2c60fd8d0bedd7efe227cdf2ffd4c892fa03a8eff6b4a1d7113e8d3e');
    background-size: cover;
    height: 400px;
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;     
    overflow: hidden; 
}

.banner-content {
    text-align: center;
    color: #136c1c;
    font-size: 24px;
    width: 100%; 
    max-width: 1200px; 
    padding: 0 20px; 
}

.card-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    overflow: hidden;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    width: 300px;
    text-align: center;
    background-color: #eafed9;
}

.footer {
    background-color: #6ab423;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center; 
}
